*{
    margin: 0;
    padding: 0;
    background-color: #f1faee;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

/* Header Styles */

.header{
    margin-top: 40px;
    color: #1d3557;
}

/* Body Styles */

.body{
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}

.card{
    margin: 10px 0;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-image{
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
    width: 200px;
    height: 250px;
}

.player-name{
    padding: 0 10px 10px 10px;
}

.eliminate-button{
    min-width: 100px;
    min-height: 30px;
    border-radius: 5px;
}

.button-styles{
    border: 0px;
    background-color: #e63946;
    color: #ffffff;
}

/* Add Card Styles */

.add-card-button, .name-input{
    margin: 20px 30px 40px 30px;
    width: 200px;
    height: 40px;

    border-radius: 10px;
    font-size: 20px;
}

.add-card-button{
    background-color: #1d3557;
}

.name-input{
    width: 400px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #1d3557;
}

.button-styles:hover{
    cursor: pointer;
}